<!DOCTYPE HTML>
<html>
<%- partial('_partial/head.ejs') %>
<body>
<div class="wrapper">

  <%- body %>

  <footer class="m-footer">
    <p>Copyright <span>&copy; 2016</span> Wheato</p>
    <p>Theme Happiness design by <a href="#">wheato</a>
      Power by <a href="#">Hexo</a></p>
  </footer>
</div>
<%- js('js/lib/lazyload.min.js') %>
</body>
</html>