<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= config.title %></title>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
  <meta name="copyright" content="Copyright (c) 2013."/>
  <meta name="description" content=""/>
  <meta name="format-detection" content="telephone=no">
  <%- css('style/main') %>
</head>